## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## NuGet
packages/
*.nupkg

## User-specific files
*.rsuser
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## SQL scripts output
*.bak
*.log

# Release binaries (скачивать из Releases на GitHub)
Release/*.exe
Release/*.pdb
Release/*.zip
